
header {
  width: 270px;
  float: left;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}

footer {
  width: 270px;
  float: left;
  padding-top: 20px;
  position: relative;
  bottom: 50px;
  margin-top: 20px;
}

section {
  margin-left: 270px;
  padding-bottom: 50px;
  width: calc(100% - 270px);
}

.wrapper {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.wrapper > header,
.wrapper > section,
.wrapper > footer {
  flex-shrink: 0;
}
