.wrapper {
    width: 100% !important;
}

section {
    width: 80% !important;
}

header, footer {
    width: 15% !important;
}

.rouge-gutter {
    width: 10px !important;
}

img {
    max-height: 500px !important;
}